.menu-button {
    margin-top:-3px;
    margin-right:2px;
}

md-progress-circular svg {
    top:initial;
}

.url-row {
    margin-bottom:2px;
}

.add-button {
    margin: initial !important;
    top: 6px;
}

.content-container {
    margin-left: 10px;
    max-width: 99%;
}

.add-loader {
    left: 15px;
}

.wrap-url {
    word-break: break-all;
}