.error-text{
    font-size:13px;
    color:red;
    padding-left:70px;
}

.form-desc{
    width:70px;
    float:left;
}

.add-group{
    padding-bottom:3px;
}

.captcha-img{
    padding-left:70px;
    padding-top:3px;
}

.captcha-refresh{
    padding-left:70px;
}

.add-input{
    width:200px;
}

#info-section{
    margin-top:15px;
}

#info-table {
    width:50%;
    border-collapse: collapse;
}

#info-table {
    width:50%;
    border-collapse: collapse;
}

.info-row:hover{
    background:#E5EAFF;
}

.popup{
    border-radius: 7px;
    border: 1px solid #A0A0A0;
    position: absolute;
    z-index:1001;
    left: 50%;
    transform: translate(-50%, 0);
    background:#DCDCCC;
    padding:5px;
}

.popup-img{
    display:inline-block;
    vertical-align: middle;
    height:100%;
}
