.error-text{
    font-size:13px;
    color:red;
    padding-left:70px;
}

.form-desc{
    width:70px;
    float:left;
}

.add-group{
    padding-bottom:3px;
}

.captcha-img{
    padding-left:70px;
    padding-top:3px;
}

.captcha-refresh{
    padding-left:70px;
}

.add-input{
    width:200px;
}

#info-section{
    margin-top:15px;
}

#info-table {
    width:50%;
    border-collapse: collapse;
}

#info-table {
    width:50%;
    border-collapse: collapse;
}

.info-row:hover{
    background:#E5EAFF;
}

.popup{
    border-radius:7px;
    border:1px solid #a0a0a0;
    position:fixed;
    z-index:1001;
    left:50%;
    transform: translate(-50%, -50%);
    background:#dcdccc;
    padding:5px;
    top:8%;
}

.popup-img{
    display:inline-block;
    vertical-align: middle;
    height:100%;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

.loading-div{
    position: fixed;
    z-index:6001;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#AFAFAF;
    padding:50px;
    opacity:0.95;
    top:50%;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#FFF), to(transparent));
    background-image: -webkit-linear-gradient(transparent, #AAA);
    background-image: -moz-linear-gradient(transparent, #FFF);
    background-image: -o-linear-gradient(transparent, #FFF);
}

.error-div{
    border-style: groove;
    display:inline-block;
    padding:20px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.error-status{
    color:blue;
}

.error-url{

}

.error-group{

}

.error-desc{
    font-style: italic;
}

.error-key{
    font-weight: bold;
}

.total-url-value, .total-clicks-value{
    margin-left:10px;
    color:blue;
}

#total-data{
    margin-top:10px;
}

.result-row:hover{
    background:#DEF5FF;
}

.result-key{
    width:10%;
    display:inline-block;
    font-weight:bold;
    font-family:Arial;
}

.result-data{
    font-family:Arial;
}

.remove-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:3px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.remove-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.remove-button:active {
	position:relative;
	top:1px;
}


