{namespace dialogs}

/**
 * @param text String
 * @param img String
 */
{template .popup}
    <div class="popup">
        <span class="popup-text">{$text}</span><img class="popup-img" src="{$img}"/>
    </div>
{/template}