{namespace indexPage}

/**
 * @param totalUrls
 * @param totalClicks
 */
{template .totalInfo}
    <div>Total number of URLs in databse: {$totalUrls}</div>
    <div>Total number of clicks: {$totalClicks}</div>
{/template}