{namespace indexPage}

/**
 * @param totalUrls
 * @param totalClicks
 */
{template .totalInfo}
    <div class="total-url">Total number of URLs in database:<span  class="total-url-value">{$totalUrls}</span></div>
    <div class="total-clicks">Total number of clicks:<span class="total-clicks-value">{$totalClicks}</span></div>
{/template}